@media (min-width: 1200px){
.description1{
    margin-left: 135px;
   
}
.description2{
    margin-left: 95px;
   
}
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    
}

@media (min-width: 1200px){
    .button2{
        background-color: blue;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      width: 160px;
      margin-top: 80px;
      margin-left: 10px;
    }
    
}
