/* Container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4efdf;
    background-image: url('path-to-background-image.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .input {
    width: 50%;
    margin-bottom: 1rem;
  }
  
  .smaller-input {
    width: 50%; /* Adjust this value to your preference */
  }
  
  
  /* Form wrapper styles */
  .form-wrapper {
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin: 10px;
    background: white;
  }
  
  @media (max-width: 600px) {
    .form-wrapper {
      padding: 20px 10px;
    }
  }
  
  
  /* Title styles */
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Form styles */
  .form {
    display: flex;
    flex-direction: column;
  }
  
  
  
  /* Input styles */
  .input {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #f8f5f5;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .input {
      font-size: 14px;
      padding: 8px;
      
    }
  }
  
  .button {
    background-color:#2709be;;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #218838;
  }
  
  @media (max-width: 600px) {
    .button {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  /* Login text styles */
  .login-text {
    margin-top: 20px;
    font-size: 14px;
  }
  
  
  
  
  
  .background{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }